### excon ###
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### DataBase ###
set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=novaera;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

### Resources ###
ensure vrp
ensure oxmysql
ensure [addons]
ensure [empregos]
ensure [exclusive]
ensure [network]
ensure [smartphone]
ensure [system]
ensure [weapons]
ensure [roupas]

## Lista ###
sv_master1 ""

### Idioma ###
sets locale "pt-PT"

### Tags ###
sets tags "pvp, otimizado, fps, dominações"

### Icon ###
load_server_icon server.png

### Banner ###
sets banner_detail "SEU BANNER DE DETALHES"
sets banner_connecting "SEU BANNER DE CONECTANDO"

### Permissões ###
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000010c6d36de group.admin

### OneSync ###
set onesync on
set onesync_population true
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

### EndPoint ###
set sv_endpointprivacy true

### Build ###
set sv_enforceGameBuild 2802
#set sv_enforceGameBuild 1604,2060,2189,2372,2545,2612,2699,2802,2944

### Voice ###
setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

### Informações ###
sv_hostname "Rush PvP"
sets sv_projectName "Rush"
sets sv_projectDesc "Servidor de PvP "
set gametype ""
set maptype ""
set Desenvolvedor ""
set Discord "https://discord.gg/yBSycWh6"
set Grupo ""

### Pure Mode ###
sv_pureLevel 0

### Players ###
sv_maxclients 7

### Steam ###
set steam_webApiKey "42635F3808585F8AB053DA3400DA4ED4"

sv_licenseKey "cfxk_kLmzfjA5uNjGmOYpTVF6_3z5QXg"